@import 'variables';

button {
    width: 10rem;
    height: 3rem;
    text-transform: uppercase;
}

.primary-button {
    background-color: $primaryColor;
    color: white;
    border: none;
}

.secondary-button {
    background-color: $secondaryColor;
    color: white;
    border: none;
}

.transparent-button {
    background-color: transparent;
    color: #000;
    border: 1px solid black;

}