@import 'variables';

button {
    width: 10rem;
    height: 3rem;
    text-transform: uppercase;
}

.primary-button {
    background-color: $primaryColor;
    color: white;
    border: none;
}
.primary-button:hover {
    background-color: $primaryHover;
}

.secondary-button {
    background-color: $secondaryColor;
    color: white;
    border: none;
}
.secondary-button:hover {
    background-color: $secondaryHover;
}

.transparent-button {
    background-color: transparent;
    color: #000;
    border: 1px solid black;

}
.transparent-button:hover {
    background-color: $thirdHover;
    color: white;
}