@import 'Variables';


footer {
    background-color: $secondaryColor;
    color: white;
    display: flex;
    height: 22.81rem;
    padding: 4.68rem 11.5rem;
    font-family: 'Manrope-reg';
    .footer-content {
        width: 33.75rem;
    }
    p {
        color: hsla(0, 100%, 100%, 0.5);
        margin: 3.25rem 0 0 0;
        line-height: $paraLineHeight;
    }

    ul {
        list-style: none;
        display: inline-block;
        margin-left: 5rem ;
        li {
            display: inline;
            margin: 0 0rem 0 2.5rem;
            text-transform: uppercase;
        }
    }
    .block-socials {
        padding: 5rem 0 0 22rem;
        img {
            margin: 0 .5rem;
        }

    }
}

@media screen and (max-width: 770px) {
    footer {
        padding: 4rem 2.5rem 3rem;
        display: inline-block;
        position: relative;
        p {
            margin: initial;
        }
        .footer-content {
            width: initial;
        }
        ul {
            li {
                display: none;
            }
        }
        .block-socials {
            padding: initial;
            position: absolute;
            right: 10%;
            bottom: 17%;
            img {
                margin: 0 .5rem;
            }
    
        }
        
    }
}

@media  screen and (max-width: 440px) {
    footer {
        height: 40.875rem;
        padding-top: 3rem;
        padding-bottom: 2.25rem;
        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 8.95rem;
                height: 1.6rem;
            }
        }
        .m-top--15  {
            margin-top: 15rem;
        }
        .m-top--3 {
            margin-top: 3rem;
        }
        p {
            text-align: center;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: initial;
            .block-socials {
                position: initial;
               margin-top: 3rem;
    
            }
        }
    }
}