@import "Variables";

div {
  .content-container {
    position: absolute;
    background-color: transparent;
    color: white;
    top: 29%;
    width: 30rem;
    z-index: 2;
    margin: 0 0 0 5rem;
    font-family: $regFont;
    margin: 0 0 0 10.31rem;
    h1 {
      font-size: $headOneFontSize;
      font-family: $boldFont;
      line-height: $headOneLineHeight;
      text-transform: uppercase;
      margin: 1.5rem 0;
    }
    p {
      font-size: $paraFontSize;
      color: $thirdColor;
      width: 21.82rem;
      line-height: $paraLineHeight;
      margin-bottom: 2.5rem;
    }
  }

  .hero-img--size {
    img {
      width: 100%;
    }
  }
}

.header {
  background-color: $secondaryColor;
  color: white;
  height: 21rem;
  h2 {
    text-align: center;
    padding-top: 13rem;
    text-transform: uppercase;
    font-family: "Manrope-reg";
  }
}

@media screen and (max-width: 770px) {
  .hero {
    width: 100%;
    .content-container {
      position: absolute;
      background-color: transparent;
      color: white;
      top: 20%;
      left: 25.5%;
      width: 23.6rem;
      z-index: 2;
      margin: 0 0 0 5rem;
      font-family: $regFont;
      margin: initial;
      text-align: center;
      h1 {
        font-size: $headOneFontSize;
        font-family: $boldFont;
        line-height: $headOneLineHeight;
        text-transform: uppercase;
        margin: 1.5rem 0;
      }
      p {
        font-size: $paraFontSize;
        color: $thirdColor;
        width: 21.82rem;
        line-height: $paraLineHeight;
        margin-bottom: 2.5rem;
      }
    }
  
    .hero-img--size {
      img {
        width: 100%;
      }
    }
  }


}

@media screen and (max-width: 450px) {
  .hero {
    width: 100%;

    .content-container {
      h1 {
        font-size: 2rem;
      }
      width: 5rem;
      p {
        width: 5rem;
      }
    }
  }
}
