
div {
    .content-container {
        position: absolute;
        background-color: white;
        top: 50%;
        width: 30rem;
        z-index: 2;
    }
    .hero-img--size {
        img {
            width: 100%;
        }
    }
}