
nav {
  background-color: #0E0E0E;
  color: white;
  display: flex;
  justify-content: center;
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 69rem;
    height: 6rem;
  }
  .nav-menu {
    width: 29rem;

  }
  li {
    text-decoration: none;
    display: inline-block;
    margin: 1rem;
  }
  
}