@import 'Variables';


section {
    display: flex;
    justify-content: space-around;
    margin: 10.5rem 10rem 3rem;

}


.container-product {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    .product {
        width: 21.875rem;
        height: 12.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding-bottom: 6rem;
        background-color: $thirdColor;
        img {
            width: 10rem ;
            height: 10rem;
        }
        h6 {
            text-transform: uppercase;
            font-family: 'Manrope-bold';
            font-size: $headSixFontSize;
            letter-spacing: $headSixLetterSpace;
            line-height: $headSixLineHeight;
            margin-bottom: 1rem;
        }
        a {
            text-decoration: none;
            p {
                color: hsla(0, 0%, 0%, 0.5);
                img {
                    width: .3125rem;
                    height: 0.625rem;
                    margin-left: .8125rem;
                }
            }
            p:hover {
                color: $primaryColor;
            }
        }
    }
   
}


.main-speaker-component {
    background-color: $primaryColor;
    width: 69.375;
    height: 35rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
    img {
        height: 75%;
    }
    div {
        padding: 5rem 14.5rem;
        width: 50%;
        color: white;
        font-family: "Manrope-reg";
        h1 {
            
            font-size: $headOneFontSize;
            width: 16.3125rem;
        }
        p {
            width: 16.3125rem;
            color: hsla(0, 0%, 100%, 0.75);
        }
    }
    
}

.secondary-speaker-component {
    background-image: url('../../public/audio-store-assets/home/desktop/image-speaker-zx7.jpg');
    margin: 0 11.5rem;
    height: 20rem;
    border-radius: 8px;
    .secondary-speaker-component-container {
        width: 12.75em;
        margin: 0 6rem;
        padding: 7rem 0;
        h4 {
            font-size: $headFourFontSize;
        }
        
    }

}




.block-earphone {
    display: flex;
    margin: 3rem 11.5rem;
    background-color: white;
    border-radius: 8px;
    .earphone-img {
        background-image: url('../../public/audio-store-assets/product-yx1-earphones/desktop/image-gallery-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 20rem;
        border-radius: 8px;
    }
    .block-content {
        background-color: $thirdColor;
        width: 33.75rem;
        margin-left: 1.85rem;
        border-radius: 8px;
        padding: 6rem 5rem;
        h4 {
            font-size: $headFourFontSize;
            padding-bottom: 1.5rem;
        }
    }
}

.block-product-banner {
    margin: 7.625rem 11.5rem;
    display: flex;
    .block-product-banner--content {
        font-family: 'Manrope-bold';
        padding: 7rem 7rem 0 0;
        h2 {
            font-size: $headTwoFontSize;
            text-transform: uppercase;
            margin-bottom: 2rem;
            span {
                color: $primaryColor;
            }
        }
        p {
            font-family: 'Manrope-reg';
            color: hsla(0, 0%, 0%, 0.5);
            line-height: $paraLineHeight;
        }

    }
    img {
        border-radius: 8px;
    }
}

@media screen and (max-width: 770px) {

    .product-section {
        margin: initial;
        padding: 6rem 2.5rem;
        .container-product {

            .product {
                width: 13.9rem;
                margin: .5rem;
            }
        }
        
    }

    
    .section__main-speaker {
        display: block;
        margin: 0 2.5rem 2rem;
        .main-speaker-component {
            background-color: $primaryColor;
            width: 43.06rem;
            height: 45rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 8px;
            img {
                margin-top: 3.25rem;
                margin-bottom: 4rem;
                height: 14.8rem;
            }
            div {
                padding: initial;
                width: 21.8rem;
                text-align: center;
                h1 {
                    width: initial;
                }
                p {
                    width: initial;
                }
            }
        }

    }

    .secondary-speaker-component {
        background-image: url('../../public/audio-store-assets/home/tablet/image-speaker-zx7.jpg');
        margin: 0 2.5rem;
        height: 20rem;
        border-radius: 8px;
        .secondary-speaker-component-container {
            width: 12.75em;
            margin: 0 6rem;
            padding: 7rem 0;
            h4 {
                font-size: $headFourFontSize;
            }
            
        }
    
    }

    .block-earphone {
        display: flex;
        margin: 2rem 0 0 2.5rem;
        background-color: white;
        border-radius: 8px;
        .earphone-img {
            background-image: url('../../public/audio-store-assets/product-yx1-earphones/desktop/image-gallery-2.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 21.1rem;
            height: 20rem;
            border-radius: 8px;
        }
        .block-content {
            background-color: $thirdColor;
            width: 21.1rem;
            margin-left: .75rem;
            border-radius: 8px;
            padding: 6rem 2.5rem;
            h4 {
                font-size: $headFourFontSize;
                padding-bottom: 1.5rem;
            }
        }
    }
    

    .block-product-banner {
        margin: 7.625rem 11.5rem;
        display: flex;
        .block-product-banner--content {
            font-family: 'Manrope-bold';
            padding: 7rem 7rem 0 0;
            h2 {
                font-size: $headTwoFontSize;
                text-transform: uppercase;
                margin-bottom: 2rem;
                span {
                    color: $primaryColor;
                }
            }
            p {
                font-family: 'Manrope-reg';
                color: hsla(0, 0%, 0%, 0.5);
                line-height: $paraLineHeight;
            }
    
        }
        img {
            border-radius: 8px;
            width: 30%;
        }
    }
        
}

