@import 'Variables';

.component-product-left-link {
    margin: 10rem 11.5rem;
    display: flex;
    font-family: $regFont;
    img {
        width: 30rem;
        border-radius: 8px;
    }
    div {
        padding: 6.8rem 7.81rem;
        h2 {
            text-transform: uppercase;
            
            font-size: $headTwoFontSize;
        }
        p {
            width: 27rem;
        }
    }
}

.component-product-right-link {
    margin: 10rem 11.5rem;
    display: flex;
    flex-direction: row-reverse;
    font-family: $regFont;
    img {
        width: 30rem;
        border-radius: 8px;
    }
    div {
        padding: 6.8rem 7.81rem;
        h2 {
            text-transform: uppercase;
            
            font-size: $headTwoFontSize;
        }
        p {
            width: 27rem;
        }
    }
}

@media screen and (max-width: 770px) {

    .component-product-left-link {
        margin: 7.5rem 2.5rem;
        display: flex;
        flex-direction: column;
        font-family: $regFont;
        img {
            width: 43rem;
            border-radius: 8px;
        }
        div {
            padding: initial;
            text-align: center;
            width: 35.75rem;
            height: 18.875rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 4rem auto 0;
            h2 {
                text-transform: uppercase;
                width: 50%;
                font-size: $headTwoFontSize;
                margin-bottom: 2rem;
            }
            p {
                width: initial;
                margin-bottom: 1.5rem;
            }
        }
    }
    
    .component-product-right-link {
        margin: 0 2.5rem;
        display: flex;
        flex-direction: column;
        font-family: $regFont;
        img {
            width: 43rem;
        }
        div {
            text-align: center;
            width: 35.75rem;
            height: 18.875rem;
            padding: initial;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 4rem auto 0;
            h2 {
                text-transform: uppercase;
                margin-bottom: 2rem;
                width: 50%;
                font-size: $headTwoFontSize;
            }
            p {
                width: initial;
                margin-bottom: 1.5rem;
            }
        }
    }
}