@import 'variables';
section {
    display: flex;
    justify-content: space-around;
    margin: 7rem 10rem;

}


.container-product {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    .product {
        width: 21.875rem;
        height: 12.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding-bottom: 6rem;
        background-color: $thirdColor;
        img {
            width: 10rem ;
            height: 10rem;
        }
        h6 {
            text-transform: uppercase;
            font-family: 'Manrope-bold';
            font-size: $headSixFontSize;
            letter-spacing: $headSixLetterSpace;
            line-height: $headSixLineHeight;
            margin-bottom: 1rem;
        }
        p {
            color: hsla(0, 0, 0, .5);
            img {
                width: .3125rem;
                height: 0.625rem;
                margin-left: .8125rem;
            }
        }
    }
}
